{% extends 'blog/base.html' %} 
{% block content %}

    {% block title %} <h3 class='text-center'>{{ title }}</h3> {% endblock title  %}
   

    <!-- if messages  -->
    {% if messages %} 
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
            {{message}}
        </div>
        {% endfor %} 
    {% endif %}
    <!--  end if messages  -->




    <!-- if authenticated    start   -->
    {% if request.user.is_authenticated %}
        <a class="text-success float-right" data-toggle="tooltip" data-placement="top" title="Add New Post" href="{% url 'blog:post-create' %}">
            <i class="far fa-plus-square fa-2x"></i> Add Post
        </a>
    {% endif %}
    <!-- if authenticated  end   -->



    <!-- if tag   start -->
    {% if tag %}
      <h4>Posts tagged with '{{ tag.name }}'</h4>
    {% endif %}
    <!-- if tag  end -->



    <!--posts list start -->
      
                {% for post in posts %}
                <div class="row">
                    <!--user  profile imsge  -->
                    <div class="col-1">
                        <img class="img-fluid rounded-circle text-left" style="width:50px; height:50px;" 
                            src="{{post.p_author.profile.image.url}}" alt="author photo">
                    </div>
                    <div class="col-11">
                        <div class="card">
                            <div class="card-body">
                                

                                <h5 class="card-title">{{ post.p_subject }}</h5>

                                <!-- date -->
                                <span class="text-info text-center">By: {{post.p_author}}</span>
                                <span class="text-secondary small">Published: {{post.p_published_at|date:'d-m-Y'}}</span>
                                
                                <p class="card-text">{{ post.p_body|safe }}</p>
                                
                            
                                <!--  tags  -->
                                <!-- <p class="tags">Tags: {{ post.tags.all|join:", " }}</p> -->
                                <h6 class='text-secondary font-italic'><small>Tags:</small><h6>
                                <ul class='tags'>
                                    {% for tag in post.p_tags.all %}
                                        <a href="{% url 'blog:posts-by-tag' tag.slug %}" class="tag">
                                            {{ tag.name }}
                                        </a>
                                        {% if not forloop.last %}, {% endif %} 
                                    {% endfor %}
                                </ul>

                                <a href="{% url 'blog:post-detail'  post_id=post.id %}"class="btn btn-primary"> 
                                    Detail
                                </a>
                            </div>
                        </div>
                    </div>
                </div>  
                {% empty %} 
                    <div  class='text-center' > 
                       No post yet !
                    </div>
                {% endfor %} 
        

{% include 'blog/pagination.html' with page=posts %} {% endblock %}